body{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    justify-self: center;
    width: 100vw;
    height: 100vh;
    background-color: #3b3d55;

}

.header{
    display:flex;
    justify-content: space-between;
    align-content: center;
    background-color: #3b3d55;
}

.header a{
    text-decoration: none;
    color:lightgrey;
}

.head_nav_list{
    display:flex;
    align-items:center;
    gap: 20px;  
    margin-right: 10%;
}

.headnavlogo{
    display:flex;
    align-items:center;
    margin-left: 10%;
}

.heronavlogo{
    width:50px;
    height:50px;
}

.upperblock{
    display:flex;
    color:white;
    justify-content: center;
    padding-bottom: 50px;
}

.uppercontainer_left{
    display:flex;
    flex-direction: column;
    margin-left: 10%;
    max-width:350px;
    margin-top: 5%;
    padding:15px;
}

.uppercontainer_right{
    display:flex;
    flex-direction: column;
    margin-right: 10%;
    max-width:350px;
    margin-top: 5%;
    padding:15px;
}

.hero{
    margin-bottom: -10px;
}

.hero_under{
    color:lightgray;
}

.herologo{
    width: 300px;
    height: 150px;
}

.hero_button{
    width: 100px;
    height: 25px;
    background-color: #006aff;
    color:white;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

.midblock{
    text-align: center;
    background-color: #ffffff;
}

.middlecontainer{
    display:flex;
    justify-content: center;
}

.midlist{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    list-style:none;
    margin: 0px 10% 0px 10%;
    padding: 20px 0px 100px 0px;
    gap: 20px;
}

.midlist_item{
    display:flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    font-size:small;
    font-style:italic;
    color:gray;
}

.midlist_item img{
    display:block;
}

.lowerblock{
    background-color:#d4d4d4;
    padding: 100px 0px 100px 0px;
}

.lowercontainer{
    text-align:left;
    padding: 0px 30% 0px 30%;
}

.lowertext{
    font-size:25px;
    font-style:italic;
}

.lowertextattribution{
    text-align:right;
    font-weight: bold;
    padding: 0 10% 0 0;
}

.bottomblock{
    display:flex;
    justify-content:center;
    background-color: #ffffff;
    padding: 100px 0 100px 0;
}

.bottomcontainer{
    display: flex;
    flex-direction: column;
}

.CTA_header,.CTA_text{
    margin: 0px;
}

.CTA_header{
    font-weight:bold;
    font-size: 16px;
    margin-bottom:5px;
}

.CTA_text{
    font-size: 12px;
}

.CTAbox{
    display:flex;
    color:white;
    border-radius:8px;
    background-color: #006aff;
    align-items: center;
    padding: 25px 50px 25px 50px;
    max-width: 1000px;
}

.CTAbutton{
    background-color: #006aff;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin-left: 150px;
}

ul{
    text-decoration: none;
    list-style-type: none;
}